[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["standard"]}
sqlalchemy = "*"
chromadb = "*"
sentence-transformers = "*"

[dev-packages]
ipython = "==8.26.*"
ruff = "*"
python-dotenv = "*"

[requires]
python_version = "^3.11"
