[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.2.*"
transformers = "==4.43.*"
accelerate = "==0.33.*"
tokenizers = "*"
sentencepiece = "==0.2"
protobuf = "*"

[dev-packages]
ipython = "==8.26.*"
ruff = "*"
python-dotenv = "*"

[requires]
python_version = "^3.11"
