[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "==0.112.*", extras = ["standard"]}
chromadb = "==0.5.*"
sentence-transformers = "==3.0.*"

[dev-packages]
ipython = "==8.26.*"
ruff = "*"
python-dotenv = ">=1.0.*"

[requires]
python_version = "^3.11"
